/*-------------------------------------------------------------------------------------------------
------------------------------ Style des contenants -----------------------------------------------
 --------------------------------------------------------------------------------------------------*/


.flex-container {
    display: -webkit-flex;
    display: flex;
   
    height: 100px;
    background-color: black;
}

.flex-item-kaggle{
    background-color: black;
    width: 500px;
    height: 50px;
    margin: 10px;
	position: relative;
	top: 20%;
}

.flex-item-kaggleCo{
    background-color: black;
    width: 500px;
    height: 50px;
    margin: 10px;
	position: relative;
	top: 18%;
	left: 0%;
}

.flex-item-equipe{
    background-color: black;
    width: 300px;
    height: 50px;
    margin: 10px;
	position: relative;
	top: 20%;
	left: -10%;
}


.flex-item-equipeCo{
    background-color: black;
   
    margin: 10px;
	position: relative;
	top: 10%;
	right: 25%;
}

.flex-item-user {
    background-color: black;
    width: 1px;
    height: 1px;
    margin: 10px;
	position : relative;
	top:-8%;
	right:-1%;

}

.flex-item-pass{
    background-color: black;
    width: 1px;
    height: 1px;
    margin: 10px;
	position : relative;
	top:-27%;
	right:-16%;

}

.flex-item-mail{
    background-color: black;
    width: 1px;
    height: 1px;
    margin: 10px;
	position : relative;
	top:7%;
	right:2%;

}

.flex-item-pw {
    background-color: black;
    width: 1px;
    height: 1px;
    margin: 10px;
	position : relative;
	top:7%;
	right:-13%;

}

.flex-item-connexion {
    background-color: black;
    width: 1px;
    height: 1px;
    margin: 10px;
	position : relative;
	top:47%;
	right:-18%;

}

.flex-item-inscri {
    background-color: black;
    width: 1px;
    height: 1px;
    margin: 10px;
	position : relative;
	top:47%;
	right:-5%;

}

.flex-item-oublie {
    background-color: black;
    width: 1px;
    height: 1px;
    margin: 10px;
	position :relative;
	top:61%;
	left:6%;

}

.flex-item-check {
    background-color: black;
    width: 1px;
    height: 1px;
    margin: 10px;
	position : relative;
	top:49%;
	right:10%;

}

.flex-item-session {
    background-color: black;
    width: 100px;
    height: 10px;
    margin: 10px;
	position : relative;
	top:49%;
	right:100%;

}

.flex-item-GestionCo {
    background-color: black;
    width: 1px;
    height: 1px;
    margin: 10px;
	position : relative;
	top:10%;
	right:15%;
}

.flex-item-ReunionCo {
    background-color: black;
    width: 1px;
    height: 1px;
    margin: 10px;
	position : relative;
	top:45%;
	right: 35%;
}

.flex-item-NomCo {
    background-color: black;
    width: 1px;
    height: 1px;
    margin: 10px;
	position : relative;
	top:0%;
	left:1000%;
}

.flex-itemE {
	position:relative;
	top: 0%;
	left:0%;
}

.flex-containerP {
    display: -webkit-flex;
    display: flex;
   
    height: 100px;
    background-color: white;
	border-top-style:solid;
	border-width:1px;
}


.flex-itemP {
    background-color: white;
    width: 300px;
    height: 50px;
    margin: 10px;
    position:relative;
    top:0%;
    left:40%;
}

  .flex-containerI {
    display: -webkit-flex;
    display: flex;
  
    background-color: white;
}

.flex-itemI3 {
	display:inline-block;
    margin: 10px;
	height: 1000px;
	padding: 10px;
	border-style:solid;
	border-radius:25px;
	background-color:#c1c1a4;
}
.flex-itemI2 {
	position:relative;
	left:70%;
	top:0%;
}


.flex-itemI {
    margin: 10px;
	width:300px;
	padding: 10px;
	border-style:solid;
	border-radius:25px;
	background-color:#c1c1a4;
}

  .flex-containerR {
    display: -webkit-flex;
    display: flex;
    width: 1024px;
    height: 1000px;
    background-color: white;
}

.flex-itemR {
    background-color: white;
    width: 300px;
    height: 1000px;
    margin: 10px;
padding: 10px;

border-style:solid;
border-radius:25px;
background-color:#c1c1a4;

}

.floating-box0 {
    
    width: 400px;
    margin: 50px;
	padding: 0px;
	background-color:white;

     
}
.flex-itemA {
   
    width: 500px;
    margin: 100px;
    padding: 20px;
	position: absolute;
	bottom: 26%;
	left: 40%;
   
    background-color: #d3d3d3; 
    border-radius : 25px;
}
/*-------------------------------------------------------------------------------------------------
------------------------------ Style des textes ---------------------------------------------------
 --------------------------------------------------------------------------------------------------*/

.b1 {
font-size: 32px;
color:white;
}

.b2 {
font-size: 16px;
color:white;

}

.b3 {
font-size: 10px;
color:white;

}

.b4{
font-size: 12px;
color:white;

}

.p1 {
   color:black;
   background-color:white;
   font-size: 10px; 
   text-align:center;

}
  
/*-------------------------------------------------------------------------------------------------
------------------------------ Style des boutons -----------------------------------------------
 --------------------------------------------------------------------------------------------------*/
 
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 3px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 2px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
  

}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
  display: inline-block;
  border-radius: 3px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 4px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
  

}
.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}


